<div class="post-thumbnail-container" ng-click="viewImage(post)">
    <img class="post-thumbnail" src="{{post.media.m}}">
</div>

<div class="post-information-container">
    <h3 class="post-title">
        <a href="" ng-click="viewImage(post)" >{{post.title }}</a>
    </h3>

    <p class="post-publishdate post-information-content smallscreen">
        Published on {{post.date_taken | date:'dd MMM yyyy'}} at {{post.date_taken | date:'hh:mm'}}
    </p>

    <p class="post-author post-information-content">
        <a target="_blank" href="http://flickr.com/{{post.author_id}}">{{post.author}}</a>
    </p>

    <p class="post-publishdate post-information-content largescreen">
        Published on {{post.date_taken | date:'dd MMM yyyy'}} at {{post.date_taken | date:'hh:mm'}}
    </p>

    <a class="post-flickr-link post-information-content" target="_blank" href="{{post.link}}">View On Flickr</a>

</div>